In [2]:
from  bs4 import BeautifulSoup 
import requests
from datetime import date
import pyodbc

In [37]:
role1 = "Web"
role2 = "Developer"
location = "Pakistan"

month="01"
year="2020"

try:
    url="https://pk.indeed.com/jobs?q="+str(role1)+"%20"+str(role2)+"&l="+str(location);
    print(url)
    eq = requests.get(url)
except:
    print("Wrong url")

https://pk.indeed.com/jobs?q=Web%20Developer&l=Pakistan

In [38]:
Date = '%s-%s-%s' % (role1,role2, location)

In [39]:
Date

'Web-Developer-Pakistan'

In [42]:
html_cont = eq.content       #req
soup = BeautifulSoup(html_cont,'html.parser',from_encoding="utf-8")

In [43]:
rows_data=[]

In [47]:
table = soup.find_all('div',class_="mosaic-zone")
try:
        
    for row in table.find_all('ul', class_=['mosaic', 'mosaic mosaic-provider-jobcards']):
        
            cols = row.find_all('li')
    #         print(cols)
            rows_data.append((cols[0].text.strip(), cols[1].text.strip(), cols[2].text.strip(), cols[3].text.strip()))
except:
    pass

In [48]:
rows_data

[]

In [10]:
import pandas as pd
import numpy as np

In [11]:
scrap_data = np.asarray(rows_data)
len(scrap_data)

265

In [12]:
df = pd.DataFrame(scrap_data)
#df.columns = ['FundName', 'Category','Inception_Date', 'Rupees in 000']

In [13]:
df.head(10)

,0,1,2,3
0,ABL Cash Fund,Money Market,"July 31, 2010","23,294,324"
1,ABL Financial Planning Fund (Active Plan),Fund of Funds,"December 31, 2015","229,029"
2,ABL Financial Planning Fund (Conservative Plan),Fund of Funds,"December 31, 2015","195,142"
3,ABL Financial Planning Fund (Strategic Allocat...,Fund of Funds,"December 30, 2016","257,715"
4,ABL Government Securities Fund,Income,"November 29, 2011","3,932,977"
5,ABL Income Fund,Income,"September 19, 2008","1,311,426"
6,ABL Islamic Asset Allocation Fund,Shariah Compliant Asset Allocation,"May 31, 2018","219,839"
7,ABL Islamic Cash Fund,Shariah Compliant Money Market,"February 13, 2020",Not Published
8,ABL Islamic Financial Planning Fund (Active Al...,Shariah Compliant Fund of Funds,"December 22, 2015","542,414"
9,ABL Islamic Financial Planning Fund (Aggressiv...,Shariah Compliant Fund of Funds,"December 22, 2015","54,774"

In [14]:
col_Names=['FundName','Category','DDate','Rupeesin000']

In [15]:
df = pd.DataFrame(df)
df.columns=['FundName','Category','DDate','Rupeesin000']

In [16]:
df.head()

,FundName,Category,DDate,Rupeesin000
0,ABL Cash Fund,Money Market,"July 31, 2010","23,294,324"
1,ABL Financial Planning Fund (Active Plan),Fund of Funds,"December 31, 2015","229,029"
2,ABL Financial Planning Fund (Conservative Plan),Fund of Funds,"December 31, 2015","195,142"
3,ABL Financial Planning Fund (Strategic Allocat...,Fund of Funds,"December 30, 2016","257,715"
4,ABL Government Securities Fund,Income,"November 29, 2011","3,932,977"

In [17]:
i = df[ df['Category'] == 'Fund of Funds' ].index
j = df[ df['Category'] == 'Shariah Compliant Fund of Funds' ].index
k = df[ df['Category'] == 'Shariah Compliant Fund of Funds - CPPI' ].index

In [18]:
df.drop(i, inplace = True)
df.drop(j, inplace = True)
df.drop(k, inplace = True)

In [19]:
df.head()

,FundName,Category,DDate,Rupeesin000
0,ABL Cash Fund,Money Market,"July 31, 2010","23,294,324"
4,ABL Government Securities Fund,Income,"November 29, 2011","3,932,977"
5,ABL Income Fund,Income,"September 19, 2008","1,311,426"
6,ABL Islamic Asset Allocation Fund,Shariah Compliant Asset Allocation,"May 31, 2018","219,839"
7,ABL Islamic Cash Fund,Shariah Compliant Money Market,"February 13, 2020",Not Published

In [20]:
df.shape

(193, 4)

In [21]:
df.dtypes

FundName       object
Category       object
DDate          object
Rupeesin000    object
dtype: object

In [22]:
df_keep = [x for x in range(df.shape[1]) if x not in [1,2]]

In [23]:
df_keep

[0, 3]

In [24]:
df = df.iloc[:, df_keep]
df.shape

(193, 2)

In [25]:
df.head()

                            FundName    Rupeesin000
0                      ABL Cash Fund     23,294,324
4     ABL Government Securities Fund      3,932,977
5                    ABL Income Fund      1,311,426
6  ABL Islamic Asset Allocation Fund        219,839
7              ABL Islamic Cash Fund  Not Published

In [26]:
for r in df['Rupeesin000']:  
       df['Rupeesin000']=df['Rupeesin000'].replace("Not Published","0")

In [27]:
df.head(10)

                                             FundName Rupeesin000
0                                       ABL Cash Fund  23,294,324
4                      ABL Government Securities Fund   3,932,977
5                                     ABL Income Fund   1,311,426
6                   ABL Islamic Asset Allocation Fund     219,839
7                               ABL Islamic Cash Fund           0
14  ABL Islamic Income Fund (Formerly: ABL Islamic...   5,034,684
15                             ABL Islamic Stock Fund   2,064,779
16  ABL Special Saving Fund (ABL Special Saving Pl...     828,288
17  ABL Special Saving Fund (ABL Special Saving Pl...   3,740,250
18  ABL Special Saving Fund (ABL Special Saving Pl...   4,157,601

In [28]:

df['Date']=Date

In [29]:
df.head()

                            FundName Rupeesin000     Date
0                      ABL Cash Fund  23,294,324  01-2020
4     ABL Government Securities Fund   3,932,977  01-2020
5                    ABL Income Fund   1,311,426  01-2020
6  ABL Islamic Asset Allocation Fund     219,839  01-2020
7              ABL Islamic Cash Fund           0  01-2020

In [30]:
df.shape

(193, 3)

In [31]:
df.dtypes

FundName       object
Rupeesin000    object
Date           object
dtype: object

In [32]:
df.dtypes

FundName       object
Rupeesin000    object
Date           object
dtype: object

In [33]:
df.head(20)

                                             FundName Rupeesin000     Date
0                                       ABL Cash Fund  23,294,324  01-2020
4                      ABL Government Securities Fund   3,932,977  01-2020
5                                     ABL Income Fund   1,311,426  01-2020
6                   ABL Islamic Asset Allocation Fund     219,839  01-2020
7                               ABL Islamic Cash Fund           0  01-2020
14  ABL Islamic Income Fund (Formerly: ABL Islamic...   5,034,684  01-2020
15                             ABL Islamic Stock Fund   2,064,779  01-2020
16  ABL Special Saving Fund (ABL Special Saving Pl...     828,288  01-2020
17  ABL Special Saving Fund (ABL Special Saving Pl...   3,740,250  01-2020
18  ABL Special Saving Fund (ABL Special Saving Pl...   4,157,601  01-2020
19  ABL Special Saving Fund (ABL Special Saving Pl...     406,337  01-2020
20  ABL Special Saving Fund (ABL Special Saving Pl...           0  01-2020
21                                     ABL Stock Fund   4,849,612  01-2020
22                                Allied Finergy Fund     831,202  01-2020
23  AKD Aggressive Income Fund (Formerly: AKD Inco...     624,929  01-2020
24                                      AKD Cash Fund   1,086,695  01-2020
25                             AKD Index Tracker Fund     451,166  01-2020
26                            AKD Islamic Income Fund     228,418  01-2020
27                             AKD Islamic Stock Fund     148,973  01-2020
28                               AKD Opportunity Fund   1,791,585  01-2020

In [34]:
#Dictionary replace value work incomplete

In [35]:
df.dtypes

FundName       object
Rupeesin000    object
Date           object
dtype: object

In [35]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-SKIH3RI\SQLEXPRESS;'
                      'Database=SarmayaSenseDev;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

In [37]:
for row in df.itertuples():
    cursor.execute('''
                INSERT INTO SarmayaSenseDev.dbo.MonthlyAUM(FundName,Rupeesin000,InceptionDate)
                VALUES(?,?,?)
                ''',
                row.FundName,
                row.Rupeesin000,
                row.Date  
                  )
conn.commit()